<script type="text/x-handlebars" data-template-name="components/badge-card">
{{#if this.displayCount}}
  <a href={{this.url}} title={{i18n "badges.granted" count=this.displayCount}} class="grant-count">{{this.displayCount}}</a>
{{/if}}
{{#if this.badge.has_badge}}
  <a href={{this.url}} class="check-display status-checked">{{d-icon "check"}}</a>
{{/if}}

{{#if this.canFavorite}}
  {{#if this.isFavorite}}
    <DButton @icon="star" @class="favorite-btn" @action={{this.onFavoriteClick}} />
  {{else}}
    <DButton @icon="far-star" @class="favorite-btn" @action={{this.onFavoriteClick}} @title={{if this.canFavoriteMoreBadges "badges.favorite_max_not_reached" "badges.favorite_max_reached"}} @disabled={{not this.canFavoriteMoreBadges}} />
  {{/if}}
{{/if}}

<div class="badge-contents alex-test">
  <a href={{this.url}} class="badge-icon {{this.badge.badgeTypeClassName}}">{{icon-or-image this.badge}}</a>
  <div class="badge-info">
    <div class="badge-info-item">
      <h3><a href={{this.url}} class="badge-link">{{this.badge.name}}</a></h3>
      <div class="badge-summary">
	  {{#if (eq this.badge.name "Kampai!") }}
	    <a href="https://shop.theotakubox.com/pages/tob-annual-sub" target="_blank">{{html-safe this.summary}}</a>
	  {{else if (eq this.badge.name "Dragon Lord") }}
	    <a href="https://shop.theotakubox.com/pages/tob-annual-sub" target="_blank">{{html-safe this.summary}}</a>
	  {{else if (eq this.badge.name "Ecchi Kohai") }}
	    <a href="https://shop.theotakubox.com/" target="_blank">{{html-safe this.summary}}</a>
	  {{else if (eq this.badge.name "Ecchi Knight") }}
	    <a href="https://ecchi.ai/ETbook" target="_blank">{{html-safe this.summary}}</a>
	  {{else if (eq this.badge.name "Ecchi Paladin") }}
	    <a href="https://shop.theotakubox.com/" target="_blank">{{html-safe this.summary}}</a>
	  {{else if (eq this.badge.name "Isekai Lord") }}
	    <a href="https://shop.theotakubox.com/" target="_blank">{{html-safe this.summary}}</a>
	  {{else if (eq this.badge.name "Darling!") }}
	    <a href="https://shop.theotakubox.com/" target="_blank">{{html-safe this.summary}}</a>
	  {{else if (eq this.badge.name "Red Master") }}
	    <a href="https://shop.theotakubox.com/" target="_blank">{{html-safe this.summary}}</a>
	  {{else if (eq this.badge.name "Senpai") }}
	    <a href="https://shop.theotakubox.com/" target="_blank">{{html-safe this.summary}}</a>
	  {{else if (eq this.badge.name "Mega Senpai") }}
	    <a href="https://shop.theotakubox.com/" target="_blank">{{html-safe this.summary}}</a>
	  {{else if (eq this.badge.name "Liz Senpai") }}
	    <a href="https://shop.theotakubox.com/pages/tob-annual-sub" target="_blank">{{html-safe this.summary}}</a>
	  {{else if (eq this.badge.name "Otaku Fashionista") }}
	    <a href="https://shop.theotakubox.com/" target="_blank">{{html-safe this.summary}}</a>
	  {{else if (eq this.badge.name "Master Fashionista") }}
	    <a href="https://shop.theotakubox.com/" target="_blank">{{html-safe this.summary}}</a>
	  {{else if (eq this.badge.name "Chibi Senpai") }}
	    <a href="https://shop.theotakubox.com/" target="_blank">{{html-safe this.summary}}</a>
	  {{else if (eq this.badge.name "Legendary Otaku") }}
	    <a href="https://shop.theotakubox.com/pages/tob-annual-sub" target="_blank">{{html-safe this.summary}}</a>
	  {{else if (eq this.badge.name "Hero Otaku") }}
	    <a href="https://shop.theotakubox.com/" target="_blank">{{html-safe this.summary}}</a>
	  {{else if (eq this.badge.name "Master Otaku") }}
	    <a href="https://shop.theotakubox.com/" target="_blank">{{html-safe this.summary}}</a>
	  {{else if (eq this.badge.name "Very Important Otaku") }}
	    <a href="https://shop.theotakubox.com/pages/returning-subscribers" target="_blank">{{html-safe this.summary}}</a>
	  {{else if (eq this.badge.name "Kohai Otaku") }}
	    <a href="https://shop.theotakubox.com/" target="_blank">{{html-safe this.summary}}</a>
	  {{else if (eq this.badge.name "Hero Otaku") }}
	    <a href="https://shop.theotakubox.com/" target="_blank">{{html-safe this.summary}}</a>
	  {{else if (eq this.badge.name "Hero Senpai") }}
	    <a href="https://shop.theotakubox.com/" target="_blank">{{html-safe this.summary}}</a>
	  {{else if (eq this.badge.name "Legendary Senpai") }}
	    <a href="https://shop.theotakubox.com/pages/tob-annual" target="_blank">{{html-safe this.summary}}</a>
	  {{else if (eq this.badge.name "Legendary Sensei") }}
	    <a href="https://shop.theotakubox.com/pages/tob-annual-sub" target="_blank">{{html-safe this.summary}}</a>
	  {{else if (eq this.badge.name "Master Senpai") }}
	    <a href="https://shop.theotakubox.com/" target="_blank">{{html-safe this.summary}}</a>
	  {{else if (eq this.badge.name "Chibi Sensei") }}
	    <a href="https://shop.theotakubox.com/" target="_blank">{{html-safe this.summary}}</a>	  
	  {{else if (eq this.badge.name "Ecchi Senpai") }}
	    <a href="https://ecchi.ai/EA" target="_blank">{{html-safe this.summary}}</a>
	  {{else if (eq this.badge.name "Duel Master") }}
	    <a href="https://ecchi.ai/EA" target="_blank">{{html-safe this.summary}}</a>
	  {{else if (eq this.badge.name "Ecchi Sensei") }}
	    <a href="https://ecchi.ai/EA2021" target="_blank">{{html-safe this.summary}}</a>
	  {{else if (eq this.badge.name "Neko Magic Senpai") }}
	    <a href="https://ecchi.ai/EA2021" target="_blank">{{html-safe this.summary}}</a>
	  {{else if (eq this.badge.name "Ecchi Danchou") }}
	    <a href="https://ecchi.ai/ETCC" target="_blank">{{html-safe this.summary}}</a>
	  {{else if (eq this.badge.name "Mystery Otaku") }}
	    <a href="https://ecchi.ai/ETCC" target="_blank">{{html-safe this.summary}}</a>
	  {{else if (eq this.badge.name "Ecchi Master") }}
	    <a href="https://ecchi.ai/ETCC" target="_blank">{{html-safe this.summary}}</a>
	  {{else if (eq this.badge.name "Ecchi Lord") }}
	    <a href="https://ecchi.ai/ET1YR " target="_blank">{{html-safe this.summary}}</a>
	  {{else if (eq this.badge.name "Bat Queen Lover") }}
	    <a href="https://ecchi.ai/Giu2021" target="_blank">{{html-safe this.summary}}</a>
	  {{else if (eq this.badge.name "Child of Sparda") }}
	    <a href="https://ecchi.ai/Giu2021" target="_blank">{{html-safe this.summary}}</a>
      {{else if (eq this.badge.name "BBB Review") }}
          Leave a review <a href="https://www.bbb.org/us/de/dover/profile/online-retailer/the-otaku-box-llc-0251-92010948/customer-reviews" target="_blank">HERE</a>. Contact CS to receive. 
      {{else if (eq this.badge.name "Trust Review") }}
          Leave a review <a href="https://www.trustpilot.com/review/theotakubox.com" target="_blank">HERE</a>. Contact CS to receive. 
	  {{else}}
		{{html-safe this.summary}}
	  {{/if}}	
	  </div>
    </div>
  </div>
</div>
</script>


<script type="text/x-handlebars" data-template-name="components/categories-only">
{{#if this.categories}}
  {{#if this.filteredCategories}}
    <table class="test category-list {{if this.showTopics "with-topics"}}">
      <thead>
        <tr>
          <th class="category"><span role="heading" aria-level="2" id="categories-only-category">{{i18n "categories.category"}}</span></th>
          <th class="topics">{{i18n "categories.topics"}}</th>
          {{#if this.showTopics}}
            <th class="latest">{{i18n "categories.latest"}}</th>
          {{/if}}
        </tr>
      </thead>
      <tbody aria-labelledby="categories-only-category">
        {{#each this.categories as |category|}}
          <ParentCategoryRow @category={{category}} @showTopics={{this.showTopics}} />
        {{/each}}
      </tbody>
    </table>
  {{/if}}

  {{#if this.mutedCategories}}
    <div class="muted-categories">
      <a href class="muted-categories-link" {{action "toggleShowMuted"}}>
        <h3 class="muted-categories-heading">{{i18n "categories.muted"}}</h3>
        {{#if this.mutedToggleIcon}}
          {{d-icon this.mutedToggleIcon}}
        {{/if}}
      </a>
      <table class="category-list {{if this.showTopics "with-topics"}} {{unless this.showMutedCategories "hidden"}}">
        <thead>
          <tr>
            <th class="category"><span role="heading" aria-level="2" id="categories-only-category-muted">{{i18n "categories.category"}}</span></th>
            <th class="topics">{{i18n "categories.topics"}}</th>
            {{#if this.showTopics}}
              <th class="latest">{{i18n "categories.latest"}}</th>
            {{/if}}
          </tr>
        </thead>
        <tbody aria-labelledby="categories-only-category-muted">
          {{#each this.categories as |category|}}
            <ParentCategoryRow @category={{category}} @showTopics={{this.showTopics}} @listType="muted" />
          {{/each}}
        </tbody>
      </table>
    </div>
  {{/if}}
{{/if}}

<PluginOutlet @name="below-categories-only" @connectorTagName="div" @args={{hash categories=this.categories showTopics=this.showTopics}} />

</script>

<script type="text/x-handlebars" data-template-name="components/user-card-contents">
{{#if this.visible}}
  <PluginOutlet @name="before-user-card-content" @args={{hash user=this.user}} />
  <div class="card-content otaku-card">
    {{#if this.loading}}
      <div class="card-row first-row">
        <div class="user-card-avatar">
          <div class="card-avatar-placeholder animated-placeholder placeholder-animation"></div>
        </div>
      </div>

      <div class="card-row second-row">
        <div class="animated-placeholder placeholder-animation"></div>
      </div>
      <div class="card-row">
        <div class="animated-placeholder placeholder-animation"></div>
      </div>
      <div class="card-row">
        <div class="animated-placeholder placeholder-animation"></div>
      </div>
      <div class="card-row">
        <div class="animated-placeholder placeholder-animation"></div>
      </div>
    {{else}}
      <div class="card-row first-row">
        <div class="user-card-avatar">
          {{#if this.user.profile_hidden}}
            <span class="card-huge-avatar">{{bound-avatar this.user "huge"}}</span>
          {{else}}
		    <a href={{this.user.path}} class="otaku-link" target="_blank"> </a> 
            <a href={{this.user.path}} {{action "showUser" this.user}} class="card-huge-avatar" >{{bound-avatar this.user "huge"}}</a>
          {{/if}}

          <UserAvatarFlair @user={{this.user}} />

          <PluginOutlet @name="user-card-avatar-flair" @connectorTagName="div" @args={{hash user=this.user}} @tagName="div" />
        </div>
        <div class="names">
          <h1 class="otaku-username {{this.staff}} {{this.newUser}} {{if this.nameFirst "full-name" "username"}}">
            {{#if this.user.profile_hidden}}
              <span class="name-username-wrapper">
                {{if this.nameFirst this.user.name (format-username this.user.username)}}
              </span>
            {{else}}
			  <a href={{this.user.path}} class="otaku-link" target="_blank"></a> 
              <a href={{this.user.path}} {{action "showUser" this.user}} class="user-profile-link" target="_blank">
                <span class="name-username-wrapper">
                  {{if this.nameFirst this.user.name (format-username this.user.username)}}
                </span>
                {{user-status this.user currentUser=this.currentUser}}
              </a>
            {{/if}}
          </h1>
          <PluginOutlet @name="user-card-after-username" @connectorTagName="div" @args={{hash user=this.user showUser=(action "showUser" this.user)}} />
          {{#if this.nameFirst}}
            <h2 class="username">{{this.user.username}}</h2>
          {{else}}
            {{#if this.user.name}}
              <h2 class="full-name">{{this.user.name}}</h2>
            {{/if}}
          {{/if}}
          {{#if this.user.title}}
            <h2>{{this.user.title}}</h2>
          {{/if}}
          {{#if this.user.staged}}
            <h2 class="staged">{{i18n "user.staged"}}</h2>
          {{/if}}
          {{#if this.hasStatus}}
            <h3 class="user-status">
              {{html-safe this.userStatusEmoji}}
              {{this.user.status.description}}
              {{format-date this.user.status.ends_at format="tiny"}}
            </h3>
          {{/if}}
          <PluginOutlet @name="user-card-post-names" @connectorTagName="div" @args={{hash user=this.user}} @tagName="div" />
        </div>
        <ul class="usercard-controls">
          {{#if this.user.can_send_private_message_to_user}}
            <li class="compose-pm">
              <DButton @class="btn-primary" @action={{action "composePM" this.user this.post}} @icon="envelope" @label="user.private_message" />
            </li>
          {{/if}}
          <PluginOutlet @name="user-card-below-message-button" @connectorTagName="li" @args={{hash user=this.user close=(action "close")}} @tagName="" />
          {{#if this.showFilter}}
            <li>
              <DButton @class="btn-default" @action={{action "filterPosts" this.user}} @icon="filter" @translatedLabel={{this.filterPostsLabel}} />
            </li>
          {{/if}}
          {{#if this.hasUserFilters}}
            <li>
              <DButton @action={{action "cancelFilter"}} @icon="times" @label="topic.filters.cancel" />
            </li>
          {{/if}}
          {{#if this.showDelete}}
            <li>
              <DButton @class="btn-danger" @action={{action "deleteUser"}} @actionParam={{this.user}} @icon="exclamation-triangle" @label="admin.user.delete" />
            </li>
          {{/if}}
          <PluginOutlet @name="user-card-additional-buttons" @connectorTagName="div" @args={{hash user=this.user close=(action "close")}} @tagName="li" />
        </ul>
        <PluginOutlet @name="user-card-additional-controls" @connectorTagName="div" @args={{hash user=this.user close=(action "close")}} />
      </div>

      {{#if this.user.profile_hidden}}
        <div class="card-row second-row">
          <div class="profile-hidden">
            <span>{{i18n "user.profile_hidden"}}</span>
          </div>
        </div>
      {{/if}}

      {{#if this.isSuspendedOrHasBio}}
        <div class="card-row second-row">
          {{#if this.user.suspend_reason}}
            <div class="suspended">
              <div class="suspension-date">
                {{d-icon "ban"}}
                {{#if this.user.suspendedForever}}
                  {{i18n "user.suspended_permanently"}}
                {{else}}
                  {{i18n "user.suspended_notice" date=this.user.suspendedTillDate}}
                {{/if}}
              </div>
              <div class="suspension-reason">
                <span class="suspension-reason-title">{{i18n "user.suspended_reason"}}</span>
                <span class="suspension-reason-description">{{this.user.suspend_reason}}</span>
              </div>
            </div>
          {{else}}
            {{#if this.user.bio_excerpt}}
              <div class="bio">
                <HtmlWithLinks>
                  {{html-safe this.user.bio_excerpt}}
                </HtmlWithLinks>
              </div>
            {{/if}}
          {{/if}}
        </div>
      {{/if}}

      {{#if this.showFeaturedTopic}}
        <div class="card-row">
          <div class="featured-topic">
            <span class="desc">{{i18n "user.featured_topic"}}</span>
            <LinkTo @route="topic" @models={{array this.user.featured_topic.slug this.user.featured_topic.id}}>{{html-safe (replace-emoji this.user.featured_topic.fancy_title)}}</LinkTo>
          </div>
        </div>
      {{/if}}

      {{#if this.hasLocaleOrWebsite}}
        <div class="card-row">
          <div class="location-and-website">
            {{#if this.user.website_name}}
              <span class="website-name">
                {{d-icon "globe"}}
                {{#if this.linkWebsite}}
                  {{!-- template-lint-disable  --}}
                  <a href="{{this.user.website}}" rel="noopener {{unless this.removeNoFollow "nofollow ugc"}}"
                   target="_blank">{{this.user.website_name}}</a>
                {{else}}
                  <span title={{this.user.website}}>{{this.user.website_name}}</span>
                {{/if}}
              </span>
            {{/if}}
            {{#if this.user.location}}
              <span class="location">
                {{d-icon "map-marker-alt"}}
                <span>{{this.user.location}}</span>
              </span>
            {{/if}}
            {{#if this.showUserLocalTime}}
              <span class="local-time" title="{{i18n "local_time"}}">
                {{d-icon "far-clock"}}
                <span>{{this.formattedUserLocalTime}}</span>
              </span>
            {{/if}}
            <PluginOutlet @name="user-card-location-and-website" @tagName="span" @connectorTagName="div" @args={{hash user=this.user}} />
          </div>
        </div>
      {{/if}}

      <div class="card-row metadata-row">
        {{#unless this.user.profile_hidden}}
          <div class="metadata">
            {{#if this.user.last_posted_at}}
              <h3><span class="desc">{{i18n "last_post"}}</span>
                {{format-date this.user.last_posted_at leaveAgo="true"}}</h3>
            {{/if}}
            <h3><span class="desc">{{i18n "joined"}}</span>
              {{format-date this.user.created_at leaveAgo="true"}}</h3>
            {{#if this.user.time_read}}
              <h3 title="{{this.timeReadTooltip}}">
                <span class="desc">{{i18n "time_read"}}</span>
                {{format-duration this.user.time_read}}
                {{#if this.showRecentTimeRead}}
                  <span>({{i18n "time_read_recently" time_read=this.recentTimeRead}})</span>
                {{/if}}
              </h3>
            {{/if}}
            {{#if this.showCheckEmail}}
              <h3 class="email">
                {{d-icon "far-envelope" title="user.email.title"}}
                {{#if this.user.email}}
                  {{this.user.email}}
                {{else}}
                  <DButton @action={{action "checkEmail"}} @actionParam={{this.user}} @icon="far-envelope" @label="admin.users.check_email.text" @class="btn-primary" />
                {{/if}}
              </h3>
            {{/if}}
            <PluginOutlet @name="user-card-metadata" @connectorTagName="div" @args={{hash user=this.user}} />
          </div>
        {{/unless}}
        <PluginOutlet @name="user-card-after-metadata" @connectorTagName="div" @args={{hash user=this.user}} />
      </div>

      {{#if this.publicUserFields}}
        <div class="card-row">
          <div class="public-user-fields">
            {{#each this.publicUserFields as |uf|}}
              {{#if uf.value}}
                <div class="public-user-field public-user-field__{{uf.field.dasherized_name}}">
                  <span class="user-field-name">{{uf.field.name}}:</span>
                  <span class="user-field-value">
                    {{#each uf.value as |v|}} {{! some values are arrays }}
                      <span class="user-field-value-list-item">{{v}}</span>
                    {{else}}
                      {{uf.value}}
                    {{/each}}
                  </span>
                </div>
              {{/if}}
            {{/each}}
          </div>
        </div>
      {{/if}}

      <PluginOutlet @name="user-card-before-badges" @connectorTagName="div" @args={{hash user=this.user}} />

      {{#if this.showBadges}}
        <div class="card-row">
          {{#if this.user.featured_user_badges}}
            <div class="badge-section">
              {{#each this.user.featured_user_badges as |ub|}}
                <UserBadge @badge={{ub.badge}} @user={{this.user}} />
              {{/each}}
              {{#if this.showMoreBadges}}
                <span class="more-user-badges">
                  <LinkTo @route="user.badges" @model={{this.user}}>
                    {{i18n "badges.more_badges" count=this.moreBadgesCount}}
                  </LinkTo>
                </span>
              {{/if}}
            </div>
          {{/if}}
        </div>
      {{/if}}
    {{/if}}
  </div>
{{/if}}

</script>


<script type="text/x-handlebars" data-template-name="modal/create-account">
<div class="otaku-modal">
<CreateAccount @email={{this.accountEmail}} @disabled={{this.submitDisabled}} @action={{action "createAccount"}}>
  {{#unless this.complete}}
    <PluginOutlet @name="create-account-before-modal-body" @tagName="span" @connectorTagName="div" />
    <DModalBody @class={{this.modalBodyClasses}} @preventModalAlertHiding={{true}}>
      <div class="otaku-account-form create-account-form {{this.authOptions.auth_provider}}">
        <div class="login-welcome-header" id="create-account-title">
            <div class="image">
              <img src="https://cdn.shopify.com/s/files/1/0528/3971/0891/files/Graphic_Assets_-_Illustrations_-_Chibi_Liz_-Happy_-_White_Background_1.png?v=1690468442">    
            </div>
            <div class="text">
              <h1 class="login-title">{{i18n "create_account.header_title"}}</h1>
              <p class="login-subheader">Let’s Create Your Account</p>
            </div>
        </div>
        {{#if this.showCreateForm}}

          <div class="login-form">
            <form>
              {{#if this.associateHtml}}
                <div class="input-group create-account-associate-link">
                  <span>{{html-safe this.associateHtml}}</span>
                </div>
              {{/if}}
              <div class="input-group create-account-email test-alex">
                <Input @type="email" disabled={{this.emailDisabled}} @value={{this.accountEmail}} id="new-account-email" name="email" class={{value-entered this.accountEmail}} autofocus="autofocus" {{on "focusout" (action "checkEmailAvailability")}} aria-describedby="account-email-validation" aria-invalid={{this.emailValidation.failed}} />
                <label class="alt-placeholder" for="new-account-email">
                  {{i18n "user.email.title"}}
                  {{~#if this.userFields~}}
                    <span class="required">*</span>
                  {{/if}}
                </label>
                <InputTip @validation={{this.emailValidation}} @id="account-email-validation" />
                <span class="more-info">{{i18n "user.email.instructions"}}</span>
              </div>

              <div class="input-group create-account__username">
                <Input @value={{this.accountUsername}} disabled={{this.usernameDisabled}} class={{value-entered this.accountUsername}} id="new-account-username" name="username" maxlength={{this.maxUsernameLength}} aria-describedby="username-validation" aria-invalid={{this.usernameValidation.failed}} autocomplete="off" />
                <label class="alt-placeholder" for="new-account-username">
                  {{i18n "user.username.title"}}
                  {{~#if this.userFields~}}
                    <span class="required">*</span>
                  {{/if}}
                </label>

                <InputTip @validation={{this.usernameValidation}} @id="username-validation" />
                <span class="more-info">Unique, no spaces, short</span>
              </div>

              <div class="input-group create-account__fullname">
                {{#if this.fullnameRequired}}
                  <TextField @disabled={{this.nameDisabled}} @value={{this.accountName}} @id="new-account-name" @class={{value-entered this.accountName}} @aria-describedby="fullname-validation" @aria-invalid={{this.nameValidation.failed}} />
                  <label class="alt-placeholder" for="new-account-name">
                    {{i18n "user.name.title"}}
                    {{#if this.siteSettings.full_name_required}}
                      {{~#if this.userFields~}}
                        <span class="required">*</span>
                      {{/if}}
                    {{/if}}
                  </label>

                  <InputTip @validation={{this.nameValidation}} @id="fullname-validation" />
                  <span class="more-info">{{this.nameInstructions}}</span>
                {{/if}}
              </div>

              <PluginOutlet @name="create-account-before-password" @args={{hash
                    accountName=this.accountName
                    accountUsername=this.accountUsername
                    accountPassword=this.accountPassword
                    userFields=this.userFields
                    authOptions=this.authOptions
                  }} />

              <div class="input-group create-account__password">
                {{#if this.passwordRequired}}
                  <PasswordField @value={{this.accountPassword}} @class={{value-entered this.accountPassword}} @type="password" @id="new-account-password" @autocomplete="current-password" @capsLockOn={{this.capsLockOn}} @aria-describedby="password-validation" @aria-invalid={{this.passwordValidation.failed}} />
                  <label class="alt-placeholder" for="new-account-password">
                    {{i18n "user.password.title"}}
                    {{~#if this.userFields~}}
                      <span class="required">*</span>
                    {{/if}}
                  </label>

                  <InputTip @validation={{this.passwordValidation}} @id="password-validation" />
                  <span class="more-info">{{this.passwordInstructions}}</span>
                  <div class="caps-lock-warning {{unless this.capsLockOn " hidden"}}">
                    {{d-icon "exclamation-triangle"}} {{i18n "login.caps_lock_warning"}}
                  </div>
                {{/if}}

                <div class="password-confirmation">
                  <label for="new-account-password-confirmation">{{i18n "user.password_confirmation.title"}}</label>
                  <HoneypotInput @id="new-account-confirmation" @autocomplete="new-password" @value={{this.accountHoneypot}} />
                  <Input @value={{this.accountChallenge}} id="new-account-challenge" />
                </div>
              </div>

              {{#if this.requireInviteCode }}
                <div class="input-group create-account__invite-code">
                  <Input @value={{this.inviteCode}} class={{value-entered this.inviteCode}} id="inviteCode" />
                  <label class="alt-placeholder" for="invite-code">{{i18n "user.invite_code.title"}}</label>
                  <span class="more-info">{{i18n "user.invite_code.instructions"}}</span>
                </div>
              {{/if}}

              <PluginOutlet @name="create-account-after-password" @args={{hash
                  accountName=this.accountName
                  accountUsername=this.accountUsername
                  accountPassword=this.accountPassword
                  userFields=this.userFields
                }} />

              {{#if this.userFields}}
                <div class="user-fields">
                  {{#each this.userFields as |f|}}
                    <div class="input-group">
                      {{!-- adding the value-entered class here to
                      be able to detect if the user field has a value
                      entered --}}
                      <UserField @field={{f.field}} @value={{f.value}} @class={{value-entered f.value}} />
                    </div>
                  {{/each}}
                </div>
              {{/if}}
            </form>
          </div>

          <div class="modal-footer">
            <DButton @class="btn-large btn-primary" @action={{action "createAccount"}} @disabled={{this.submitDisabled}} @label="create_account.title" @isLoading={{this.formSubmitted}} />

            {{#unless this.hasAuthOptions}}
              <DButton @class="btn-large" @id="login-link" @action={{route-action "showLogin"}} @disabled={{this.formSubmitted}} @label="log_in" />
            {{/unless}}
              
            {{#unless this.hasAuthOptions}}
              <h3 class="login-buttons-title">Or Sign In With</h3>
              <div class="otaku-create-account-login-buttons">
                <LoginButtons @externalLogin={{action "externalLogin"}} />
              </div>
            {{/unless}}  

            <div class="disclaimer">
              {{html-safe this.disclaimerHtml}}
            </div>
          </div>

          <PluginOutlet @name="create-account-after-modal-footer" @connectorTagName="div" />

        {{/if}}
        

        {{#if this.skipConfirmation}}
          {{loading-spinner size="large"}}
        {{/if}}
      </div>
    </DModalBody>
  {{/unless}}
</CreateAccount>
</div>
</script>

<script type="text/x-handlebars" data-template-name="modal/login">
<div class="otaku-modal">
<LoginModal @loginName={{this.loginName}} @loginPassword={{this.loginPassword}} @secondFactorToken={{this.secondFactorToken}} @action={{action "login"}}>
  <PluginOutlet @name="login-before-modal-body" @connectorTagName="div" />
  <DModalBody @class={{this.modalBodyClasses}}>

    {{#if this.canLoginLocal}}
      <div class="otaku-account-form login-left-side">
        <div class="login-welcome-header">
            <div class="image">
              <img src="https://cdn.shopify.com/s/files/1/0528/3971/0891/files/Graphic_Assets_-_Illustrations_-_Chibi_Liz_-Happy_-_White_Background_1.png?v=1690468442">    
            </div>
            <div class="text">
              <h1 class="login-title">{{i18n "login.header_title"}}</h1>
              <p class="login-subheader">{{i18n "login.subheader_title"}}</p>
            </div>
        </div>
        <form class="login-form" id="login-form" method="post">
          <div id="credentials" class={{this.credentialsClass}}>
            <div class="input-group">
              <Input @value={{this.loginName}} @type="email" id="login-account-name" class={{value-entered this.loginName}} autocomplete="username" autocorrect="off" autocapitalize="off" disabled={{this.showSecondFactor}} autofocus="autofocus" tabindex="1" />
              <label class="alt-placeholder" for="login-account-name">{{i18n "login.email_placeholder"}}</label>
              {{#if this.showLoginWithEmailLink}}
                <a href class={{if this.loginName "" "no-login-filled"}} tabindex="3" id="email-login-link" {{on "click" this.emailLogin}}>
                  {{i18n "email_login.login_link"}}
                </a>
              {{/if}}
            </div>
            <div class="input-group">
              <PasswordField @value={{this.loginPassword}} @type="password" class={{value-entered this.loginPassword}} id="login-account-password" autocomplete="current-password" maxlength="200" @capsLockOn={{this.capsLockOn}} disabled={{this.disableLoginFields}} tabindex="1" />
              <label class="alt-placeholder" for="login-account-password">{{i18n "login.password"}}</label>
              <a href id="forgot-password-link" tabindex="3" {{on "click" this.handleForgotPassword}}>{{i18n "forgot_password.action"}}</a>
              <div class="caps-lock-warning {{unless this.capsLockOn "hidden"}}">{{d-icon "exclamation-triangle"}} {{i18n "login.caps_lock_warning"}}</div>
            </div>
          </div>
          <SecondFactorForm @secondFactorMethod={{this.secondFactorMethod}} @secondFactorToken={{this.secondFactorToken}} @class={{this.secondFactorClass}} @backupEnabled={{this.backupEnabled}} @isLogin={{true}}>
            {{#if this.showSecurityKey}}
              <SecurityKeyForm @allowedCredentialIds={{this.securityKeyAllowedCredentialIds}} @challenge={{this.securityKeyChallenge}} @showSecurityKey={{this.showSecurityKey}} @showSecondFactor={{this.showSecondFactor}} @secondFactorMethod={{this.secondFactorMethod}} @otherMethodAllowed={{this.otherMethodAllowed}} @action={{action "authenticateSecurityKey"}}>
              </SecurityKeyForm>
            {{else}}
              <SecondFactorInput @value={{this.secondFactorToken}} @inputId="login-second-factor" @secondFactorMethod={{this.secondFactorMethod}} @backupEnabled={{this.backupEnabled}} />
            {{/if}}
          </SecondFactorForm>
        </form>
        <div class="modal-footer">
          {{#if this.canLoginLocal}}
            {{#unless this.showSecurityKey }}
              <DButton @action={{action "login"}} @id="login-button" @form="login-form" @icon="unlock" @label={{this.loginButtonLabel}} @disabled={{this.loginDisabled}} @class="btn btn-large btn-primary" @tabindex="2" />
            {{/unless}}

            {{#if this.showSignupLink}}
              <DButton @class="btn-large" @id="new-account-link" @action={{action "createAccount"}} @label="create_account.title" @tabindex="3" />
            {{/if}}
            
             {{#if this.showLoginButtons}}
            <h3 class="login-buttons-title">Or Sign In With</h3> 
              <div class="otaku-create-account-login-buttons">
                <LoginButtons @externalLogin={{action "externalLogin"}} />
              </div>
            {{/if}}
            
            
          {{/if}}
          <ConditionalLoadingSpinner @condition={{this.showSpinner}} @size="small" />
            
            {{#if this.showLoginButtons}}
            <h3 class="login-buttons-title">Or Sign In With</h3> 
              <div class="otaku-create-account-login-buttons">
                <LoginButtons @externalLogin={{action "externalLogin"}} />
              </div>
            {{/if}}
            
        </div>
      </div>
    {{/if}}
    {{#if this.showLoginButtons}}
      {{#if this.noLoginLocal}}
        <div class="otaku-account-form login-left-side"> 
           <div class="login-welcome-header">
            <div class="image">
              <img src="https://cdn.shopify.com/s/files/1/0528/3971/0891/files/Graphic_Assets_-_Illustrations_-_Chibi_Liz_-Happy_-_White_Background_1.png?v=1690468442">    
            </div>
            <div class="text">
              <h1 class="login-title">{{i18n "login.header_title"}}</h1>
              <p class="login-subheader">{{i18n "login.subheader_title"}}</p>
            </div>
        </div>
        </div>
      
            <h3 class="login-buttons-title">Or Sign In With</h3> 
              <div class="otaku-create-account-login-buttons">
                <LoginButtons @externalLogin={{action "externalLogin"}} />
              </div>
      
      {{/if}}
    {{/if}}
  </DModalBody>

  <PluginOutlet @name="login-after-modal-footer" @connectorTagName="div" />

  <div class={{this.alertClass}} id="login-alert">{{this.alert}}</div>
</LoginModal>
    </div>
</script>


<script type="text/x-handlebars" data-template-name="components/login-buttons">
{{#each this.buttons as |b|}}
  <button type="button" class="btn btn-social {{b.name}}" {{on "click" (action this.externalLogin b)}} aria-label={{b.screenReaderTitle}} tabindex="3">
    {{#if b.isGoogle}}
      <svg class="fa d-icon d-icon-custom-google-oauth2 svg-icon" viewBox="0 0 48 48"><defs><path id="a" d="M44.5 20H24v8.5h11.8C34.7 33.9 30.1 37 24 37c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.6 4.1 29.6 2 24 2 11.8 2 2 11.8 2 24s9.8 22 22 22c11 0 21-8 21-22 0-1.3-.2-2.7-.5-4z"/></defs><clipPath id="b"><use href="#a" overflow="visible"/></clipPath><path clip-path="url(#b)" fill="#FBBC05" d="M0 37V11l17 13z"/><path clip-path="url(#b)" fill="#EA4335" d="M0 11l17 13 7-6.1L48 14V0H0z"/><path clip-path="url(#b)" fill="#34A853" d="M0 37l30-23 7.9 1L48 0v48H0z"/><path clip-path="url(#b)" fill="#4285F4" d="M48 48L17 24l-4-3 35-10z"/></svg>
    {{else if b.icon}}
      {{d-icon b.icon}}
    {{else}}
      {{d-icon "sign-in-alt"}}
    {{/if}}
      <span class="hide-text">{{b.title}}</span>
  </button>
{{/each}}
<PluginOutlet @name="after-login-buttons" />
</script>


<script>
    function getUrlVars()
{
    var vars = [], hash;
    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
    for(var i = 0; i < hashes.length; i++)
    {
        hash = hashes[i].split('=');
        vars.push(hash[0]);
        vars[hash[0]] = hash[1];
    }
    return vars;
}

function simulateTyping(inputId, text) {
    var inputField = $('#' + inputId)[0]; // Get the DOM element
    inputField.focus(); // Set focus on the input field

    // Iterate over each character in the text
    for (var i = 0; i < text.length; i++) {
      var char = text[i];

      // Create the key events
      var keydownEvent = new Event('keydown');
      var keypressEvent = new Event('keypress');
      var inputEvent = new Event('input');
      var keyupEvent = new Event('keyup');

      // Set the properties for the events
      Object.defineProperty(keydownEvent, 'key', { value: char });
      Object.defineProperty(keypressEvent, 'key', { value: char });
      Object.defineProperty(inputEvent, 'target', { value: inputField });
      Object.defineProperty(keyupEvent, 'key', { value: char });

      // Dispatch the events on the input field
      inputField.dispatchEvent(keydownEvent);
      inputField.dispatchEvent(keypressEvent);
      inputField.value += char;
      inputField.dispatchEvent(inputEvent);
      inputField.dispatchEvent(keyupEvent);
    }
  }

$( document ).ready(function() {
    if ( getUrlVars() !== undefined ) {
        if ( getUrlVars()["email"] !== undefined && getUrlVars()["username"] !== undefined && getUrlVars()["name"] !== undefined && getUrlVars()["password"] !== undefined ) {
            $(".sign-up-button").click();
            setTimeout(function() {
            simulateTyping( "new-account-email", getUrlVars()["email"] );
            simulateTyping( "new-account-username", getUrlVars()["username"] );
            simulateTyping( "new-account-name", getUrlVars()["name"] );
            simulateTyping( "new-account-password", getUrlVars()["password"] );
            }, 100);
        }
        if ( getUrlVars()["signup"] !== undefined ) {
            $(".sign-up-button").click();
        }
    }
});

    
$( document ).ready(function() {    
    
const inputGroups = document.querySelectorAll('.input-group');

inputGroups.forEach(inputGroup => {
  const inputElement = inputGroup.querySelector('input');

  inputElement.addEventListener('focus', () => {
    inputGroup.classList.add('focus-element');
  });

  inputElement.addEventListener('blur', () => {
    inputGroup.classList.remove('focus-element');
  });
});
    
inputGroups.forEach(inputGroup => {
  const inputElement = inputGroup.querySelector('input');

  // Function to check if the input is populated and add/remove the class accordingly
  const handleInput = () => {
    if (inputElement.value.trim() !== '') {
      inputGroup.classList.add('focus-element');
    } else {
      inputGroup.classList.remove('focus-element');
    }
  };

  // Add event listeners for both input and blur events
  inputElement.addEventListener('input', handleInput);
  inputElement.addEventListener('blur', handleInput);
});    
    
});    
    
    
    
</script>